@model Smart_Trafic_Management_System.Models.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="~/Content/material-design-iconic-font.min.css")">
<link rel="stylesheet" href="~/Content/style.css">
    @*<link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@


</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    
    
    @using (Html.BeginForm("Login", "User", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @*<div class="form-horizontal">

           <div class="wrapper" style="background-image: url('../../Content/bg-registration-form-1.png'); ">
                    <div class="inner">
                        <div class="image-holder">
                            <img style="height: 500px" src="~/Content/registration-form-1.jpg" alt="">
                        </div>
                        <form method="post">
                            <h3>Login Form</h3>
                            <br>

                            <div class="form-wrapper">
                                Username:


                                    @Html.EditorFor(model => model.Email_ID, new { htmlAttributes = new { @class = "form-control" } })

                                        <i class="zmdi zmdi-account"></i>
    </div>
                            <br>
                            <div class="form-wrapper">
                                Password:

                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })


                                <i class="zmdi zmdi-lock"></i>
                            </div>

                            <div class="form-wrapper" style="background-color:blue ">
                                <select name="" id="" class="form-control">
                                    <option value="" disabled selected>Role</option>
                                    <option value="User">User</option>
                                    <option value="Admin">Admin</option>

                                </select>
                                <i class="zmdi zmdi-caret-down" style="font-size: 20px"></i>
                            </div>

                            <button type="submit">
                                Login
                                <i class="zmdi zmdi-arrow-right"></i>
                            </button>



                        </form>
                    </div>
                </div>













                @*<script src="https://code.jquery.com/jquery-3.3.1.js"
                            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
                            crossorigin="anonymous"></script>
                    <script>
                    $(document).ready(function () {
                        $("#btnsubmit").click(function () {
                            var email = $("#email").val();
                            var pass = $("#pass").val();
                            alert(email + pass);

                        })

                    });
                 </div>
                </script>*@
    }













        <div class="wrapper" style="background-image: url('../../Content/bg-registration-form-1.png');">
            <div class="inner">
                <div class="image-holder">
                    <img style="height: 500px" src="~/Content/registration-form-1.jpg" />
                </div>
                <form action="" method="post" role="form">
                    <h3>Login Form</h3>

                    <div class="form-wrapper">
                        <input type="text" placeholder="Username" name="Email_ID" class="form-control">
                        <i class="zmdi zmdi-account"></i>
                    </div>
                    <div class="form-wrapper">
                        <input type="password" placeholder="Password" name="Password" class="form-control">
                        <i class="zmdi zmdi-lock"></i>
                    </div>



                                        @*<div class="form-wrapper" style="background-color:blue ">
        <select name="Role" id="" class="form-control">
            <option value="" disabled selected>Role</option>
            <option value="User">User</option>
            <option value="Admin">Admin</option>
        </select>
        <i class="zmdi zmdi-caret-down" style="font-size: 20px"></i>
    </div>*@
        <div style="color:red;font-size:15px">

        @ViewBag.msg
        </div>
                    

                    <button type="submit">
                        LOGIN
                        <i class="zmdi zmdi-arrow-right"></i>
                    </button>

                    <button class="btn btn-success"><a href="@Url.Action("Indexlogin","User")">Back to home
                        </a></button>

            </form>
        </div>
        </div>

    

    </body>
</html>
